// helper (utility) classes

// color helpers
.bio-color { color: $bio-color; }
.location-color { color: $location-color; }
.email-color { color: $email-color; }
.phone-color { color: $phone-color; }
.birthday-color { color: $birthday-color; }
.login-color { color: $login-color; }
